<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <!--BOOTSTRAP-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- Font Awasome -->
    <script src="https://kit.fontawesome.com/54741874cd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("partials/navigation.ejs"); %>

    <h3>esto es la pagina de contacto</h3>

  </body>
</html>
